body {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 16px;
}

/* Navigational Bar */

.nav-bar {
  padding-bottom: .3rem;
  background-color: #F28C0F;
  padding-top: .009rem;
}

.nav-bar ul {
  list-style-type: none;
  text-align: end;
  padding-top: .3rem;
}

.nav-bar li{
  display: inline;
  font-family: 'Roboto Slab';
  font-size: 1.15rem;
  font-weight: 550;
  margin: 1.5rem;
}

.nav-bar a {
  color: #FFFFFF;
}

.nav-bar a:hover {
  color: #000000;
  font-style: italic;
}

/* About Section */

h1 {
  text-align: center;
  margin: 2.5rem 0;
  font-family: 'Zen Antique';
  font-weight: 700;
  font-size: 3rem;
  color:#BF0F30;
}

p {
  font-family: 'Poppins';
  font-size: 1.5rem;
  text-align: left;
  margin-left: .9rem;
}

#about {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 2rem;
  background-color: #1A90D9;
}

.instructions {
  width: 30rem;
  text-align: left;
}

.instructions p {
  font-family: 'Poppins';
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1rem;
  color: #FFFFFF;
}


.instructions-numbers {
  font-family: 'Poppins';
  font-size: 1.5rem;
  font-weight: 400;
  width: 30rem;
  color: #FFFFFF;
}

/* Motivational Quotes */

#motivational-quotes {
  margin-top: 4rem;
  padding: 15rem;
  text-align: center;
  border: solid 1px red;
}

#motivational-quotes h3 {
  font-family: 'Roboto Slab';
  font-size: 3rem;
  font-weight: 900;
  font-style: oblique;
  margin-top: -8rem;
  color: #F2A30F;
}

#motivational-quotes button {
  font-family: 'Roboto Slab';
}

/* Technologies Used */

#technologies {
  padding-bottom: 2rem;
}

#technologies p {
  font-family: 'Roboto Slab';
  font-size: 1.2rem;
  font-weight: 600;
  text-align: left;
  color: #000000;
  margin-left: 3rem;
}

#technologies ul {
  list-style-type: none;
  margin-top: 2rem;
}

#technologies li {
  display: inline;
  margin: 12rem;
}

/* Contact Section */

#contact {
  margin-top: 5rem;
  padding: 1.5rem 0;
  background-color: #F23E16;
}

#contact h3 {
  font-family: 'Roboto Slab';
  font-size: 1.6rem;
  margin: 0 3rem 2rem 3rem;
  color: #FFFFFF;
  font-weight: 400;
}

#contact ul {
 list-style-type: none;
 text-align: left;
 margin-bottom: 2rem;
}

#contact li {
  display: inline;
  margin: 3rem 6rem 1.5rem 6rem;
}

.social-media a {
  color: #000000;
}

.social-media a:hover {
  color: #FFFFFF;
}

#contact p {
  font-family: 'Poppins';
  font-size: 1.10rem;
  font-weight: 200;
  text-align: left;
  margin-left: .9rem;
  color: #D2D2D2;
}

#contact span {
  display: block;
  font-family: 'Roboto Slab';
  font-size: 1rem;
  font-style: oblique;
  text-align: right;
  margin-right: 3.5rem;
  color: #F2F2F2;
}